

.navbar-default {
  background-color: #512888;
  border-bottom-color: #F8F8F8;
  border-bottom-width: 2px;
  max-width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding-right: 5;
  padding-left: 0;
  position: absolute;
}


/* Edit Navbar title details */
.navbar-brand {
  font-size: 18px;
  font-weight: 500;
  padding-left: 0;
  position: static;
}


.navbar-default .navbar-nav {
  padding-left: 0;
  padding-right: 5;  
  max-width: 1100px;
  min-width: 500px;
  position: static;
}


/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #555;
    background-color: #F8F8F8;
    border-color: #555;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #F8F8F8;
    border-color: #555;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #F8F8F8;
}



body .main-container { 
  max-width: 1200px;
  min-width: 500px;
  padding-left: 5;
  padding-right: 5;
  margin-bottom: 50px;
  position: static;
}
