.navbar-default {
  background-color: #512888;
  border-color: #F8F8F8;
  max-width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding-right: 150px;
}

/* Edit Navbar title details */
.navbar-brand {
  font-size: 22px;
  font-weight: 500;
  padding-left: 200px;
}


/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #F8F8F8;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #F8F8F8;
}



body .main-container { 
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
